body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    width: 50%;
    background-image: linear-gradient(#C71585, #7B68EE);
    height: 2.5rem;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
.osszeadas {
    display: flex;
    align-items: center;
}
.szamdoboz {
    font-size: 2rem;
    padding: 5px;
    color: blue;
    margin: 0 10px 0 10px;
}
#tipp {
    height: 2.5rem;
    max-width: 100px;
    font-size: 2rem;
    margin: 0 10px 0 10px;
}
.reakcio {
    margin: 20px;
}
.reakcio i{
    color: red;
}
.progbar-out{
    display: block;
    background-color: lightgray;
    width: 100%;
    height: 1rem;
    border-radius: 3px;
}
.progbar-in{
    background-color: #7B68EE;
    width: 0;
    height: 1rem;
    border-radius: 3px;
}